html, body{
	margin:0;
}

body{
	background-color:#f3f3f3;
	font-family: sans-serif;
	
}

#content{
	width:800px;
	margin:55px auto;
	
	color:#454545;
}

#content p{
	font-size:15px;
	line-height:155%;
	
	font-weight:bold;
}

#demo{
	margin-top:25px;
	border-top:1px solid #ccc;
	padding-top:25px;
}

#demo a{
	font-size:30px;
	line-height:30px;
	text-decoration:none;
	color:#888787;
	
	display:block;
	margin:0 0 30px 15px;
	
	cursor:pointer;
}

#demo a:hover{
	color:#e64529;
}

#head{
	position:relative;
}

#head a{
	position:absolute;
	top:0;
	right:0;
	display:block;
	
	font-size:11px;
	line-height:11px;
	color:#4c7278;
	background-color:#c7e9e8;
	padding:10px;
	
	text-decoration:none;
}

hr{
	border:0;
	width:100%;
	border-bottom:1px solid #ccc;
	margin:25px 0;
}

p{
	padding-left:3px;
}

pre{
	font-family: 'Inconsolata', arial, serif;
	background-color:#ddd;
	padding:15px;
	color:#444;
	font-size:15px;
	line-height:150%;
	margin:25px 0 35px 0;
}